/* @import url(https://fonts.google.com/specimen/Oswald?query=oswald); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body{
  background-image:
  linear-gradient(to right,rgba(0,0, 0, 0.5), rgba(0,0, 0, 0.5)),
  url('../media/edc_img1.jpg');
  background-attachment: fixed;
}
.titles{
    /* padding-top: 150px; */
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.titles::after {
  content: '';
  position: relative;
  border-radius: 2px;
  display: block;
  width: 40px;
  height: 5px;
  background: white;
  bottom: -3px;
  left: calc(50% - 20px);
}
.text{
    color: white;
    font-size: 20px;
    padding: 80px 80px 0px 80px;
}
div.table-title {
    display: block;
   margin: auto;
   max-width: 600px;
   padding:5px;
   width: 100%;
 }
 
 .table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
 }
 
 
 /*** Table Styles **/
 
 .table-fill {
   background: white;
   border-radius:3px;
   border-collapse: collapse;
   height: 320px;
   margin: auto;
   max-width: 600px;
   padding:12px;
   width: 90%;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   animation: float 5s infinite;
   /* white-space: nowrap; */
   overflow: auto;

 }
  
 th {
   color:#D5DDE5;;
   background:#1b1e24;
   border-bottom:4px solid #9ea7af;
   border-right: 1px solid #343a45;
   font-size:23px;
   font-weight: 100;
   padding:24px;
   text-align:left;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   vertical-align:middle;
 }
 
 th:first-child {
   border-top-left-radius:3px;
 }
  
 th:last-child {
   border-top-right-radius:3px;
   border-right:none;
 }
   
 tr {
   border-top: 1px solid #C1C3D1;
   /* border-bottom-: 1px solid #C1C3D1; */
   color:#666B85;
   font-size:16px;
   font-weight:normal;
   text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
 }
  
 tr:hover td {
   background:#4E5066;
   color:#FFFFFF;
   border-top: 1px solid #22262e;
 }
  
 tr:first-child {
   border-top:none;
 }
 
 tr:last-child {
   border-bottom:none;
 }
  
 tr:nth-child(odd) td {
   background:#EBEBEB;
 }
  
 tr:nth-child(odd):hover td {
   background:#4E5066;
 }
 
 tr:last-child td:first-child {
   border-bottom-left-radius:3px;
 }
  
 tr:last-child td:last-child {
   border-bottom-right-radius:3px;
 }
  
 td {
   background:#FFFFFF;
   padding:20px;
   text-align:left;
   vertical-align:middle;
   font-weight:300;
   font-size:18px;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   border-right: 1px solid #C1C3D1;
 }
 
 td:last-child {
   border-right: 0px;
 }
 
 th.text-left {
   text-align: left;
 }
 
 th.text-center {
   text-align: center;
 }
 
 th.text-right {
   text-align: right;
 }
 
 td.text-left {
   text-align: left;
 }
 
 td.text-center {
   text-align: center;
 }
 
 td.text-right {
   text-align: right;
 }
 .typewriter {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 40px;
  padding-top: 40px;
  color: #fff;
  position: relative;
  text-align: center;
  margin: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.typewriter span {
  color: white;
  padding: 10px;
  border-right: solid white 10px;
  animation: cursor 1s ease-in-out infinite;
}

/* .logo{
  width: 120px;
  cursor: pointer;
} */
.container{
  padding-bottom: 50px;
  overflow: hidden;
}
/* .nav-container{
  width: 100%;
  position: fixed;
  z-index: 111;
  background-color: rgba(26, 26, 26, 0.7);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}
.navbar{
  background-color: rgba(26, 26, 26, 0.7);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  width: 100%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position:fixed !important;
  z-index: 111;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.navbar.sticky{
  padding: 15px 0;
} */

/* .navbar ul li ::after{
  content: '';
  height: 5px;
  width: 0%;
  background-color: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: .5s;
}
.navbar ul li :hover::after{
  width: 100%;
  border-radius: 2px;
} */
/* .navbar .icon{
  color: white;
  cursor: pointer;
  display: none;
} */
/* @media(max-width:800px){
  .navbar .icon{
    color: white;
    display: block;
  }
} */
.navbar {
  z-index: 20;
  display: flex;
  background-color: #232323;
  height: 60px;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5rem;
}
.leftNavBar {
  width: 50%;
}
div{
  display: block;
}

.rightNavBar {
  width: 50%;
  display: flex;
  text-align: end;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
}
.burger {
  width: 0px;
  visibility: hidden;
  z-index: 100;
}
.leftNavBar img {
  width: 126.33px;
  padding-top: 20px;
}
.rightNavBar .activelink {
  color: teal;
}
.rightNavBar a {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-weight: bold;
}
.leftBorder {
  border-left: 5px solid teal;
}
.burger .line {
  /* background-color: rgb(50, 50, 50); */
  background-color: white;
  margin: 3px;
  padding: 1.5px;
  border-radius: 2px;
  z-index: 100;
}
.visible {
  visibility: hidden;
  height: 0px;
  transition: height 0.7s ease-in-out;
}
.navbar-resp {
  /* visibility: hidden; */
  z-index: 999;
  background-color: #232323;
  height: 230px;
  overflow: hidden;
  transition: height 0.7s ease-in-out;
}
.navbar-resp a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-left: 4px;
}
.navbar-resp div {
  margin-top: 70px;
  position: fixed;
}
.activelink-resp {
  color: white;
  border-left: 3px solid teal;
}
.opacity {
  width: 100%;
  height: 100%;
  opacity: 70%;
  z-index: 1;
  background-color: white;
  position: fixed;
}
@media (max-width: 800px){
  .burger{
      visibility: visible;
      width: 30px;
  }
  .rightNavBar{
      display: none;
  }
  .navbar-resp {
      width: 100%;
      z-index: 999;
  }
}

.footer {
  background-color: rgba(23, 23, 23,0.8);
  color: white;
  display: flex;
  width: 100%;
  height: 300px;
  padding-top: 10px;
}

.leftFooter {
  width: 33%;
  padding: 40px;

  text-align: center;
}
.leftFooterContent {
  border-left: 5px solid teal;
}
.leftFooterContent h2 {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.leftFooterContent h3 {
  font-size: 15px;
  font-weight: 100;
  padding: 8px;
  font-weight: 600;
}
.leftFooter p {
  padding: 4px;
  font-size: 15px;
  line-height: 25px;
}
.fa-heart {
  color: red;
}

.middleFooter {
  width: 33%;
  padding: 40px;
}
.middleFooter h2 {
  font-size: 15px;
  padding-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}
.middleFooter p {
  padding-top: 20px;
  font-size: 15px;
  line-height: 25px;
}
.socials {
  display: flex;
}
.circle {
  background-color: white;
  margin: 5px;
  padding: 2px;
  border-radius: 15px;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
}
.circle:hover {
  background-color:teal;
  cursor: pointer;
}
.socials i {
  color: black;
  width: 100%;
  margin: 3.5px;
}

.rightFooter {
  width: 33%;
  padding: 40px;
}
.rightFooter h2 {
  font-size: 15px;
  padding-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}
.usefulLinks {
  padding-top: 20px;
  font-size: 15px;
  margin-left: 14px;
}
.rightFooter ul {
  list-style-type: circle;
  margin-top: 5px;
}
.usefulLinks a {
  text-decoration: none;
  color: white;
}
.usefulLinks a:hover {
  color: teal;
}

/* footer responsive */
@media only screen and (max-width: 970px) {
  .footer {
    flex-direction: column;
    height: 900px;
  }
  .leftFooter {
    width: 100%;
  }
  .middleFooter {
    width: 50%;
  }
  .rightFooter {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .middleFooter {
    width: 100%;
  }
  .rightFooter {
    width: 100%;
  }
}

@media only screen and (max-width: 600px){
  .typewriter{
    font-size: 26px;
  }
  .titles{
    font-size: 32px;
  }
  .table-fill{
    max-width: 400px;
  }
}