<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'base/media/favicon.png' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'base/styles/bootstrap.min.css'%}"/> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    {% comment %} <link
      rel="stylesheet"
      href="{% static 'base/styles/bootstrap.min.css'%}"
    /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'base/styles/form2.css'%}">
    <title>Student Details</title>
</head>
<body>
  {% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
  <strong>Message: </strong> {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      fill="currentColor"
      class="bi bi-x"
      viewBox="0 0 16 16"
    >
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
      />
    </svg>
  </button>
</div>
{% endfor %}
  <div id="opacity"></div>
<nav class="navbar">
  <div class="leftNavBar"  style="font-family: 'Oswald',sans-serif;">
    <a href="/"><img src="{% static 'base/media/edc-logo.png' %}" /></a>
  </div>
  <div class="rightNavBar" >
    <a href="/" class="leftBorder oswald">Home</a>
    
    <a
      href="https://www.edcnitd.co.in/"
      target="_blank"
      rel="noopener noreferrer"
      class="oswald"
      >EDC</a
    >
    <a href="/round-1" class="activelink oswald">Round 1</a>
    
    
    <a href="/accounts/logout" class="oswald">Logout</a>
    
  </div>
  <div class="burger" id="burger">
    <div class="line" id="line-1"></div>
    <div class="line" id="line-2"></div>
    <div class="line" id="line-3"></div>
  </div>
</nav>
<!-- responsive navbar -->
<nav id="navbar-resp" class="navbar-resp visible oswald">
  <div>
    <a href="/" class="oswald">Home</a>
    <a
      href="https://www.edcnitd.co.in/"
      target="_blank"
      rel="noopener noreferrer"
      class="oswald"
      >EDC</a
    >
    <a href="/round-1" class="activelink-resp oswald">Round 1</a>
    <a href="/accounts/logout" class="oswald">Logout</a>
    
  </div>
</nav>

    <h1 class="titles" style="font-size: 60px;">Auditions</h1>
    <h1 class="heading">Roles We Offer:</h1>
<section class="roles" id="roles">
  <div class="max-width">
      <div class="serv-content">
          <div class="cards">
              <div class="boxs">
                 <i class="fa fa-pencil"></i>
                  <div class="text">Management & Content Writing</div>

<p>We invite you to explore the various writing domains in our club and sharpen your writing skills, gain experience, and enrich your portfolio.</p>              </div>

          </div>
          <div class="cards">
              <div class="boxs">
                  <i class="fa fa-image"></i>
                  <div class="text">Graphic Designers</div>

<p>Take the opportunity to explore the diverse design domains in our club and cultivate your aesthetics, access resources, and expand your portfolio.</p>              </div>

          </div>
          <div class="cards" style="margin-top: 10px;">
              <div class="boxs">
                <i class="fa fa-laptop"></i>
                  <div class="text">Web Developers</div>

<p>Take advantage of the wide range of web development domains in our club and sharpen your skills, access resources, and construct your portfolio through various projects.</p>              </div>
          </div>
          <div class="cards" style="margin-top: 10px;">
              <div class="boxs">
                  <i class="fa fa-video-camera"></i>
                  <div class="text">Video Editors</div>

<p>Our club provides a variety of video domains for you to explore and refine your storytelling abilities, get access to resources, and strengthen your portfolio.</p>              </div>

          </div>
         </div>
      </div>
  </div>
</section>
<p style="text-align: center;padding-left: 30px;padding-right: 30px;">Note: Make sure to click the submit button for each section. The responses are editable after submission.</p>
   <div class="example">
   <div class="box">
     <div class="form">
       <h1 class = "titles" style="margin-top: 20px; transform: none;">Student Details</h1>
       <!-- <p id="description">Fill in this form to go ahead with the audition procedure. Hope to see you in the next round. All the best!</p> -->
       <form id="survey-form" autocomplete="off" method="POST" action="/round-1" style="padding-top: 7px">
        {% csrf_token %}
         <div class="wrapper">
           <div class="input-data">
             <input type="text" style="color: white;" value="{{saved_data.name}}" id="name" name="name" autocomplete="new-password" required />
             <div class="underline"></div>
             <label id="name-label" for="name">Name</label>
           </div>
           <div class="input-data">
            <input type="text" style="color: white;" value="{{saved_data.branch}}" id="branch" name="branch" autocomplete="new-password" required />
            <div class="underline"></div>
            <label id="name-label" for="name">Department</label>
          </div>
          <div class="input-data">
            <input type="text" style="color: white;" value="{{saved_data.year}}"id="year" name="year" autocomplete="new-password" required />
            <div class="underline"></div>
            <label id="name-label" for="name">Year of study</label>
          </div>
           <!-- <div class="input-data">
             <input type="email" style="color: white;" id="email" name="email" required />
             <div class="underline"></div>
             <label id="email-label" for="email">Enter your Email</label>
           </div> -->
           <div class="input-data">
            <input type="text" style="color: white;"value="{{saved_data.phone_number}}" id="phone_number" name="phone_number" autocomplete="new-password" required />
            <div class="underline"></div>
            <label id="name-label" for="name">Mobile Number</label>
          </div>
          <div class="input-data">
            <input type="text" style="color: white;" value="{{saved_data.place}}"id="place" name="place" autocomplete="new-password" required />
            <div class="underline"></div>
            <label id="name-label" for="name">Native place</label>
          </div>
          <div class="input-data">
            <input type="text" style="color: white;"value="{{saved_data.roll_number}}" id="roll_number" name="roll_number" autocomplete="new-password" required />
            <div class="underline"></div>
            <label id="name-label" for="name">Roll Number</label>
          </div>
          <div>
            <button id="submit" type="submit"><span></span> Save & Next</button>
          </div>
           {% comment %} <div class="radios">
            What do you choose? <br>
            <input type="radio" value="core" name="showtech" id="showtech" onchange="showhideTechForm(this.value);">Only Core Team<br>
            <input type="radio" value="core-tech" name="showtech" id="showtech" onchange="showhideTechForm(this.value);">Core Team and Tech Team
         </div> <br> {% endcomment %}
           {% comment %} <div>
             <button id="submit" type="submit"><span></span> Submit</button>
           </div> {% endcomment %}
         </div>
       </form>
     </div>
   </div>    
</div>
<div class="example2" id="form2">
<div class="box">
  <div class="form" id="survey-form-core">
      <div class="titles" id="q-title" style="margin-top: 20px;transform: none;">
         Core team Questions
      </div>
      <div class="form-container">
        <div class="form-inner" id="core-qurestions">
          <form  autocomplete="off" method="POST"action="/questions/" class="login" style="padding-top: 10px">
            {% csrf_token %}
            <div class="wrapper">
              {% for q in core_questions %}
                <div class="input-data">
                  <input type="hidden" name="category" value="Core">
                  <input type="text" style="color: white;" name="response{{forloop.counter}}" id="question.{{forloop.counter}}" value="{{ q.my_response }}" autocomplete="new-password" required />
                  <div class="underline"></div>
                  <label id="name-label" for="name" class="question-t">{{ q.question }}</label>
                </div>
              {% endfor %}
            </div>
            <div>
              <button id="submit" type="submit"><span></span> Save & Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="example2" id="form2">
  <div class="box" id="survey-form-domain">
    <div class="form">
      <div class="radios">
        <h3>What more do you choose apart from event management?</h3> <br>
        <input type="checkbox" value="content-check" name="content-check" id="content-check" onchange="auditioningFor(this.value);">Content<br>
        <input type="checkbox" value="gd-check" name="gd-check" id="gd-check" onchange="auditioningFor(this.value);">Graphic Designing<br>
        <input type="checkbox" value="video-check" name="video-check" id="video-check" onchange="auditioningFor(this.value);">Video Editing<br>
        <input type="checkbox" value="web-check" name="web-check" id="web-check" onchange="auditioningFor(this.value);">Web Development<br>
     </div>
    </div>
  </div>
</div>

<div class="example2 content-box" id="form2" style="display:none">
  <div class="box">
    <div class="form">
        <div class="titles" id="q-title" style="margin-top: 20px;transform: none;">
           Content Writing Questions
        </div>
        <div class="form-container">
          <div class="form-inner">
            <form id="survey-form" autocomplete="off" method="POST"action="/questions/" class="login" style="padding-top: 10px">
              {% csrf_token %}
              <div class="wrapper">
                {% for q in content_questions %}
                  <div class="input-data">
                    <input type="hidden" name="category" value="Content">
                    <input type="text" style="color: white;" name="response{{forloop.counter}}" id="question.{{forloop.counter}}" value="{{ q.my_response }}" autocomplete="new-password" />
                    <div class="underline"></div>
                    <label id="name-label" for="name" class="question-t">{{ q.question }}</label>
                  </div>
                {% endfor %}
              </div>
              <div>
                <button id="submit" type="submit"><span></span>Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="example2 gd-box" id="form2" style="display:none">
  <div class="box">
    <div class="form">
        <div class="titles" id="q-title" style="margin-top: 20px">
           Graphic Design Questions
        </div>
        <div class="form-container">
          <div class="form-inner">
            <form id="survey-form" autocomplete="off" method="POST"action="/questions/" class="login" style="padding-top: 10px">
              {% csrf_token %}
              <div class="wrapper">
                {% for q in gd_questions %}
                  <div class="input-data">
                    <input type="hidden" name="category" value="GD">
                    <input type="text" style="color: white;" name="response{{forloop.counter}}" id="question.{{forloop.counter}}" value="{{ q.my_response }}" autocomplete="new-password" />
                    <div class="underline"></div>
                    <label id="name-label" for="name" class="question-t">{{ q.question }}</label>
                  </div>
                {% endfor %}
              </div>
              <div>
                <button id="submit" type="submit"><span></span>Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="example2 web-box" id="form2" style="display:none">
    <div class="box">
      <div class="form">
          <div class="titles" id="q-title" style="margin-top: 20px">
             Web Development Questions
          </div>
          <div class="form-container">
            <div class="form-inner">
              <form id="survey-form" autocomplete="off" method="POST"action="/questions/" class="login" style="padding-top: 10px">
                {% csrf_token %}
                <div class="wrapper">
                  {% for q in web_questions %}
                    <div class="input-data">
                      <input type="hidden" name="category" value="Web">
                      <input type="text" style="color: white;" name="response{{forloop.counter}}" id="question.{{forloop.counter}}" value="{{ q.my_response }}" autocomplete="new-password" />
                      <div class="underline"></div>
                      <label id="name-label" for="name" class="question-t">{{ q.question }}</label>
                    </div>
                  {% endfor %}
                </div>
                <div>
                  <button id="submit" type="submit"><span></span>Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="example2 video-box" id="form2" style="display:none">
      <div class="box">
        <div class="form">
            <div class="titles" id="q-title" style="margin-top: 20px">
               Video Editing Questions
            </div>
            <div class="form-container">
              <div class="form-inner">
                <form id="survey-form" autocomplete="off" method="POST"action="/questions/" class="login" style="padding-top: 10px">
                  {% csrf_token %}
                  <div class="wrapper">
                    {% for q in video_questions %}
                      <div class="input-data">
                        <input type="hidden" name="category" value="Video">
                        <input type="text" style="color: white;" name="response{{forloop.counter}}" id="question.{{forloop.counter}}" value="{{ q.my_response }}" autocomplete="new-password" />
                        <div class="underline"></div>
                        <label id="name-label" for="name" class="question-t">{{ q.question }}</label>
                      </div>
                    {% endfor %}
                  </div>
                  <div>
                    <button id="submit" type="submit"><span></span>Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

<footer class="footer">
  <div class="leftFooter">
    <div class="leftFooterContent">
      <h2>
        Entrepreneurship <br />
        Development Cell
      </h2>
      <h3>NIT Durgapur</h3>
    </div>
    <p>
      Made with <i class="fa fa-heart" aria-hidden="true"></i> by Web-Team
      <br />© 2023 EDC. All Rights Reserved.
    </p>
  </div>
  <div class="middleFooter">
    <div class="bottomBorder">
      <h2>CONTACT US</h2>
    </div>
    <p>
      <i class="fa fa-map-marker"></i> : Mahatma Gandhi Avenue,<br />
      A-Zone, Durgapur, West Bengal <br />
      Durgapur: 713209
      <br />
      <i class="fa fa-phone"></i> : +91 9123001251(Purvi)
      <br>
      <i class="fa fa-phone"></i> : +91 8335810111(Yash)
      <br />
      <i class="fa fa-envelope-o"></i> : edc@nitdgp.ac.in
    </p>
    <div class="socials">
      <div class="circles" id="twitter">
        <a href="https://twitter.com/edcnitd" target="_blank" rel="noopener noreferrer"
          ><i id="twitter-icon" class="fa fa-twitter"></i
        ></a>
      </div>
      <div class="circles" id="fb">
        <a href="https://www.facebook.com/edc.nitd" target="_blank" rel="noopener noreferrer"
          ><i id="fb-icon" class="fa fa-facebook"></i
        ></a>
      </div>
      <div class="circles" id="insta">
        <a href="https://www.instagram.com/edc.nitd/" target="_blank" rel="noopener noreferrer"
          ><i id="insta-icon" class="fa fa-instagram"></i
        ></a>
      </div>
      <div class="circles" id="yt">
        <a href="https://www.youtube.com/@entrepreneurshipdevelopmen7605" target="_blank" rel="noopener noreferrer"
          ><i id="yt-icon" class="fa fa-youtube"></i
        ></a>
      </div>
      <div class="circles" id="linkedin">
        <a href="https://in.linkedin.com/company/edcnitd" target="_blank" rel="noopener noreferrer"
          ><i id="linkedin-icon" class="fa fa-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="rightFooter">
    <div class="bottomBorder">
      <h2>USEFUL LINKS</h2>
    </div>
    <div class="usefulLinks">
      <ul>
        <li><a href="/" rel="noopener noreferrer">Home</a></li>
      </ul>
      <ul>
        <li>
          <a href="https://www.edcnitd.co.in/" target="_blank" rel="noopener noreferrer">EDC</a>
        </li>
      </ul>
      <ul>
        <li><a href="{% provider_login_url 'google' %}" rel="noopener noreferrer">Register</a></li>
      </ul>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
  if(localStorage.getItem("content-check") == "true") {
    document.getElementById('content-check').click();
  }
  if(localStorage.getItem("gd-check") == "true") {
    document.getElementById('gd-check').click();
  }
  if(localStorage.getItem("web-check") == "true") {
    document.getElementById('web-check').click();
  }
  if(localStorage.getItem("video-check") == "true") {
    document.getElementById('video-check').click();
  }
  //  const loginText = document.querySelector(".title-text .login");
  //  const loginForm = document.querySelector("form.login");
  //  const loginBtn = document.querySelector("label.login");
  //  const signupBtn = document.querySelector("label.signup");
  //  const signupLink = document.querySelector("form .signup-link a");
  //  signupBtn.onclick = (()=>{
  //    loginForm.style.marginLeft = "-50%";
  //    loginText.style.marginLeft = "-50%";
  //  });
  //  loginBtn.onclick = (()=>{
  //    loginForm.style.marginLeft = "0%";
  //    loginText.style.marginLeft = "0%";
  //  });
  //  signupLink.onclick = (()=>{
  //    signupBtn.click();
  //    return false;
  //  });
   let navbarResp = document.getElementById("navbar-resp");
let opacity = document.getElementById("opacity");
let burger = document.getElementById("burger");
let line1 = document.getElementById("line-1");
let line2 = document.getElementById("line-2");
let line3 = document.getElementById("line-3");

burger.addEventListener("click", () => {
  navbarResp.classList.toggle("visible");
  opacity.classList.toggle("opacity");
});

burger.addEventListener("mouseover", () => {
  line1.style.backgroundColor = "teal";
  line2.style.backgroundColor = "teal";
  line3.style.backgroundColor = "teal";
});
burger.addEventListener("mouseout", () => {
  line1.style.backgroundColor = "white";
  line2.style.backgroundColor = "white";
  line3.style.backgroundColor = "white";
});
   $(document).ready(function(){
   $(window).scroll(function(){
        // sticky navbar on scroll script
        if(this.scrollY > 20){
            $('.navbar').addClass("sticky");
        }else{
            $('.navbar').removeClass("sticky");
        }
        
        // scroll-up button show/hide script
        if(this.scrollY > 500){
            $('.scroll-up-btn').addClass("show");
        }else{
            $('.scroll-up-btn').removeClass("show");
        }
    });})
   function showhideForm(showform) {
         if (showform == "event") {
            document.getElementById("event-manage").style.display = 'block';
            document.getElementById("content-write").style.display = 'none';
         }
         else if (showform == "content") {
            document.getElementById("content-write").style.display = 'block';
            document.getElementById("event-manage").style.display = 'none';
         }
         else if (showform == "both") {
            document.getElementById("content-write").style.display = 'block';
            document.getElementById("event-manage").style.display = 'block';
         }
      }

      function showhideForm2(showform2) {
         if (showform2 == "gd") {
            document.getElementById("gds").style.display = 'block';
            document.getElementById("webds").style.display = 'none';
            document.getElementById("videos").style.display = 'none';
         }
         else if (showform2 == "webd") {
          document.getElementById("gds").style.display = 'none';
            document.getElementById("webds").style.display = 'block';
            document.getElementById("videos").style.display = 'none';
         }
         else if (showform2 == "video") {
          document.getElementById("gds").style.display = 'none';
            document.getElementById("webds").style.display = 'none';
            document.getElementById("videos").style.display = 'block';
         }
      }

      function showhideTechForm(showtech) {
         if (showtech == "core") {
            document.getElementById("survey-form-tech").style.display = 'none';
            document.getElementById("slide-control").style.display = 'none';
            document.getElementById("form2").style.display = 'flex';
            document.getElementById("q-title").style.display = 'block';
         }
         else if (showtech == "core-tech") {
            document.getElementById("slide-control").style.display = 'flex';
            document.getElementById("survey-form-tech").style.display = 'block';
            document.getElementById("form2").style.display = 'flex';
            document.getElementById("q-title").style.display = 'none';
         }
      }

      

      function auditioningFor(e) {
        if(e == 'content-check') {
          if(document.getElementById('content-check').checked == true) {
            document.querySelector('.content-box').style.display = "flex";
            localStorage.setItem("content-check", true);
          }
          else {
            document.querySelector('.content-box').style.display = "none";
            localStorage.setItem("content-check", false);
          }
        }
        if(e == 'gd-check') {
          if(document.getElementById('gd-check').checked == true) {
            document.querySelector('.gd-box').style.display = "flex";
            localStorage.setItem("gd-check", true);
          }
          else {
            document.querySelector('.gd-box').style.display = "none";
            localStorage.setItem("gd-check", false);
          }
        }
        if(e == 'web-check') {
          if(document.getElementById('web-check').checked == true) {
            document.querySelector('.web-box').style.display = "flex";
            localStorage.setItem("web-check", true);
          }
          else {
            document.querySelector('.web-box').style.display = "none";
            localStorage.setItem("web-check", false);
          }
        }
        if(e == 'video-check') {
          if(document.getElementById('video-check').checked == true) {
            document.querySelector('.video-box').style.display = "flex";
            localStorage.setItem("video-check", true);
          }
          else {
            document.querySelector('.video-box').style.display = "none";
            localStorage.setItem("video-check", false);
          }
        }
      }
        const closeBtn = document.querySelector(".btn-close");
        if(closeBtn) {
          closeBtn.addEventListener("click", () => {
            document.querySelector(".alert").style.display = "none";
          });
        }
</script>
<script>
  document.addEventListener("DOMContentLoaded",()=>{
        let labels = document.getElementsByClassName('question-t');
        for (const label in labels) {
          let qLen = labels[label].innerHTML.length;
          let height = (qLen/20)*1.4;
          let vw = document.documentElement.clientWidth;
          // let vh = document.documentElement.clientHeight;
          if(vw>700){
            height = Math.max(height*0.6,1.75);
          }
          let heightRem = height.toString()+"rem";
          let parent = labels[label].parentElement;
          parent.style.marginTop = heightRem;
          // console.log(heightRem,vw/vh);
        }
      });
</script>
</body>
</html>