<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>EDC Auditions</title>
    <link
      rel="stylesheet"
      href="{% static 'base/styles/bootstrap.min.css'%}"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% comment %} <link
      rel="stylesheet"
      href="{% static 'base/styles/font-awesome.min.css'%}"
    /> {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/styles/index.css'%}" />
  </head>

  <body
    id="page-top"
    data-bs-spy="scroll"
    data-bs-target="#mainNav"
    data-bs-offset="56"
  >
    <nav
      class="navbar navbar-expand-lg fixed-top"
      style="background-color: rgb(49, 49, 49)"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand" href="/"
          ><span
            ><img
              src="{% static 'base/media/edc-logo.png' %}"
              width="100px" /></span></a
        ><button
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          class="navbar-toggler float-end"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="    font-size: 18px;
          padding: 8px 10px;
          color: #a9a9a9;
          border: none;"
        >
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" style="color: white;font-family: 'Sofia Sans Semi Condensed', sans-serif;
              font-weight: bold;
              font-size: 18px;
              text-transform: capitalize;" href="/"
                >Home</a
              >
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="/register" type="submit" class="nav-link" style="color: white;font-family: 'Sofia Sans Semi Condensed', sans-serif;
              font-weight: bold;
              font-size: 18px;text-transform: capitalize;"
                >Profile</a
              >
            </li>
            <li class="nav-item">
              <a href="/accounts/logout" type="submit" class="nav-link" style="color: white;font-family: 'Sofia Sans Semi Condensed', sans-serif;
              font-weight: bold;
              font-size: 18px;text-transform: capitalize;"
                >Logout</a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" style="color: white;font-family: 'Sofia Sans Semi Condensed', sans-serif;
              font-weight: bold;text-transform: capitalize;;
              font-size: 18px;" href="{% provider_login_url 'google' %}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <header class="bg-dark">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="content d-flex justify-content-center">
              <div class="mx-auto header-content">
                <h3
                  class="fw-bold mb-1 animated fadeInUp"
                  style="color: white"
                >
                  Entrepreneurship Developement Cell, NIT Durgapur
                </h3>
                <p class="fw-normal mb-5" style="color: white;margin-top:15px">
                  The Entrepreneurship Development Cell, NIT Durgapur is the institution's official Entrepreneurship Promoting student body. Through a plethora of initiatives throughout the year, we remain steadfast to our sole dream of creating a sustainable and diverse entrepreneurial ecosystem where the young and the elderly come together to make entrepreneurship a common reality in India.
                </p>
                <h3 id="demo" style="font-size: 1.2rem" class="neon-text-timer">
                  
                </h3>

                {% if user.is_authenticated %}
                <a
                  class="btn btn-outline-warning btn-xl"
                  role="button"
                  href="/register"
                  style="font-family: 'Sofia Sans Semi Condensed', sans-serif;
                  font-size: 18px;
                  font-weight: bold;
                  margin-top: 20px;
                  text-transform: capitalize;"
                  >Go to profile</a
                >
                {% else %}
                <a
                  class="btn btn-outline-warning btn-xl"
                  role="button"
                  href="{% provider_login_url 'google' %}"
                  style="font-family: 'Sofia Sans Semi Condensed', sans-serif;
                  font-size: 18px;
                  font-weight: bold;
                  margin-top: 20px;
                  text-transform: capitalize;"
                  >Register</a
                >
                {% endif %}
              </div>
            </div>

          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen justify-content-center">
                  <div class="typewriter">
                    <h1
                      class="fw-light visible neon-text sacramento"
                      data-bss-hover-animate="flash"
                    >
                      Ideate
                    </h1>
                  </div>
                  <div class="typewriter">
                    <h1
                      class="fw-light visible neon-text sacramento"
                      data-bss-hover-animate="flash"
                    >
                      Innovate
                    </h1>
                  </div>
                  <div class="typewriter">
                    <h1
                      class="fw-light visible neon-text sacramento"
                      data-bss-hover-animate="flash"
                    >
                      Incubate
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <footer>
      <div class="container">
        <p>Entrepreneurship Developement Cell,NIT Durgapur</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">About EDC</a></li>

        </ul>
      </div>
    </footer>
    <script src="{% static 'base/scripts/bootstrap.min.js'%}"></script>
    <script src="{% static 'base/scripts/new-age.js'%}"></script>
    <script src="{% static 'base/scripts/index.js'%}"></script>
  </body>
</html>
