<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    {% comment %} First Compulsary question then non compulsary question {% endcomment %}

    <form action="" method="POST">
        {% csrf_token %}
        {% for question in core_questions %}

        <fieldset>
            <legend><h3>{{question.question}}</h3></legend>
                
                <input type="hidden" name="category" value="Core">
                <input type="text" style="width:1000; height:100;" value="{{question.my_response}}" name="response{{forloop.counter}}" id="question.{{forloop.counter}}" >

        </fieldset>
        {% endfor%}
    <input type="submit">
    </form>

    <form action="" method="POST">
        {% csrf_token %}
        {% for question in web_questions %}

        <fieldset>
            <legend><h3>{{question.question}}</h3></legend>
                
                <input type="hidden" name="category" value="Web">
                <input type="text" style="width:1000; height:100;" value="{{question.my_response}}" name="response{{forloop.counter}}" id="question.{{forloop.counter}}" >

        </fieldset>
        {% endfor%}
    <input type="submit">
    </form>

    <form action="" method="POST">
        {% csrf_token %}
        {% for question in gd_questions %}

        <fieldset>
            <legend><h3>{{question.question}}</h3></legend>
                
            <input type="hidden" name="category" value="GD">
                <input type="text" style="width:1000; height:100;" value="{{question.my_response}}" name="response{{forloop.counter}}" id="question.{{forloop.counter}}" >

        </fieldset>
        {% endfor%}
    <input type="submit">
    </form>

    <form action="" method="POST">
        {% csrf_token %}
        {% for question in video_questions %}

        <fieldset>
            <legend><h3>{{question.question}}</h3></legend>
                
                <input type="hidden" name="category" value="Video">
                <input type="text" style="width:1000; height:100;" value="{{question.my_response}}" name="response{{forloop.counter}}" id="question.{{forloop.counter}}" >

        </fieldset>
        {% endfor%}
    <input type="submit">
    </form>

</body>
</html>