* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

.mynav {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(100%) blur(1px);
}
/* 
#image-track {
  display: flex;
  gap: 4vmin;
  /* position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- 
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
} */

body {
  overflow: scroll;
}
body::-webkit-scrollbar {
  display: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .box {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}
.container .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
  transition: 0.5s;
}

.container .box:hover:before,
.container .box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after {
  background: linear-gradient(315deg, #e0a80cd3, #032ff4);
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.container .box:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
}

.container .box:hover span:after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(-10px);
  }
}

.container .box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.container .box:hover .content {
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box .content a:hover {
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

.cardbox {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #060c21;
  margin: 40px;
}
.cardbox:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.cardbox:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}
.cardbox:nth-child(1):before,
.cardbox:nth-child(1):after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}
.cardbox:nth-child(2):before,
.cardbox:nth-child(2):after {
  background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}
.cardbox:nth-child(3):before,
.cardbox:nth-child(3):after {
  background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}
.cardbox .glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.cardbox .glasscontent {
  padding: 20px;
  color: #fff;
}

.carddabba {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  background: #010615;
}

:root {
  --bg-color: #2e3d4b;
  --text-color: #6ae3ff;
}

.containertext {
  align-items: baseline;
  box-sizing: border-box;
  background: var(--bg-color);
  padding: 50px;
}

.typewriter {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: #fff;
  position: relative;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}

.typewriter span {
  color: var(--text-color);
  padding: 10px;
  border-right: solid var(--text-color) 10px;
  animation: cursor 1s ease-in-out infinite;
}

@keyframes cursor {
  from {
    border-color: var(--text-color);
  }
  to {
    border-color: transparent;
  }
}

@media (max-width: 576px) {
  .typewriter {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .typewriter {
    font-size: 20px;
  }
}

.containertext {
  align-items: baseline;
  box-sizing: border-box;
  background: var(--bg-color);
  padding: 50px;
}

.containerbox {
  position: relative;
  z-index: 1;

  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  filter: brightness(120%);
}

.containerbox:before {
  z-index: -1;
  position: absolute;
  content: "";

  left: 10px;
  top: 0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  filter: blur(20px);
}

.gradientbox {
  background-color: #0b090a;
  padding: 30px;
  color: white;
}

.edc {
  margin-left: 8.5rem;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}

/* add a media query */
@media (max-width: 400px) {
  .edc {
    font-size: 36px;
    margin-left: 2.5rem;
  }
}
.last-line {
  font-size: 45px;
}
@media (max-width: 400px) {
  .last-line {
    font-size: 40px;
  }
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bodyGallery {
  align-items: center;
  background: transparent;
  display: flex;
  justify-content: center;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(calc(-250px * 7));
 }
}
.slider {
  background:transparent;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .125);
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: page-width;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%); 
  content: "";
  height: 400px;
  position: absolute;
  width: 400px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 35s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 400px;
  width: 500px;
}
