@media (min-width: 992px) {
  #hero1 {
    background: url("../../assets/img/edc%20homepage%20small%20screen.png?h=7a9878c35ddae2ec9cc6bca392a5fa9e") top / cover no-repeat;
    width: 100%;
    height: 100vh;
  }
}

